#animated-button {
    display: flex;
    margin: 2rem auto;
    color: blue;
    background-color: white;
    padding: 1rem;
    border-radius: 10%;
    border-color: blue;
}

@keyframes enlarge {
    0% {

    }
    50% {
        scale: 2;
        transform:rotate("360deg");
        color: white;
        background-color: blue;
    }
    100% {
        color: white;
        background-color: blue;
    }
}

