body {
    width: 100vw;
    height: 100vh;
    overflow-x: none;
}

#projects {
    display: flex;
    flex-direction: column;
    column-gap: 2vw;
    margin: 10vh 10vw;
}

#projects a {
    text-decoration: none;
    color: black
}

.row-project {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 15px 20px;
    margin-top: 15px;
}

.row-project:hover {
    background-color: salmon;
}

.project-img {
    width: 10vw;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons button {
    margin: 10px;
}
