body {
    width: 100vw;
    height: 100vh;
    overflow-x: none;
    background-color:#FDF7F4;
}

#row-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    margin: 5vh auto 2vh auto;
    column-gap: 12vw;
    align-items: center;
    width: max-content;
}

h1 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    letter-spacing: .125rem;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5vw;
    flex-grow: 2;
}

#buttons button {
    /* background-color: #f3e4dc; */
    background-color: #FDF7F4;
    color: #0C0C0C;
    border: .125rem solid #0C0C0C;
    padding: 1rem .5rem;
    border-radius: .375rem;
    font-family: "Quattrocentro", serif;
    letter-spacing: .0625rem;
    font-size: 1rem;
    transition: font-size .5s ease-in-out, padding .5s ease-in-out, column-gap .5s ease-in-out;
}

#buttons button:hover {
    padding: 1.125rem .75rem;
    column-gap: 1.75vw;
    /* background-color: #0C0C0C;
    background-color: #f3e4dc;
    color: #0C0C0C; */
    font-size: 1.125rem;
    cursor: pointer;
}


#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 15vw 10vh 15vw;
    padding-bottom: 5vh;
    row-gap: 2vh;
}

#projects a {
    text-decoration: none;
    color: black;
    width:max-content;
    height: max-content;
    margin-top: 0;
}

.row-project {
    display: flex;
    flex-direction: row;
    padding: 2vh 3vw;
    column-gap: 2vw;
    border-radius: .5rem;
    justify-content: center;
}

.row-project:hover {
    background-color: #f3e4dc;
}

.proj-img {
    width: 270px;
    height: calc(270px * .88);
}

.proj-img > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project-name {
   font-family: "Oswald", sans-serif;
   letter-spacing: .125rem;
   font-size: 1.5rem;
   line-height: .75rem; 
}

.description {
    width: 38vw;
}

.subtitle {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.25rem;
}

p { 
    font-family: "Quattrocentro", serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin-top: 0px;
    line-height: 150%;
}

#return-home {
    position: absolute;
    top: .5vh;
    left: .5vw;
    text-decoration: none;
    color:#0C0C0C;
    padding-left: .5vw;
    font-size: 1.125rem;
    font-family: "Oswald", sans-serif;
}

#return-home span {
    margin-left: .125vw;
    transition: margin-left .5s ease-in-out;
}

#return-home:hover {
    span {
        margin-left: .25vw;
    }
}


