body {
    width: 100vw;
    height: 100vh;
    overflow-x: none;
}

#row-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    margin: 5vh auto 0vh auto;
    column-gap: 12vw;
    align-items: center;
    width: max-content;
}

h1 {
    display: inline-block;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5vw;
    flex-grow: 2;
}

#buttons button {
    /* background-color: #98a79d; */
    background-color: #FDF7F4;
    color: #0C0C0C;
    border: .125rem solid #0C0C0C;
    padding: 1rem .5rem;
    border-radius: .375rem;
    font-size: 1rem;
    transition: background-color .5s ease-in-out, color .5s ease-in-out, font-size .5s ease-in-out, padding .5s ease-in-out, column-gap .5s ease-in-out;
}

#buttons button:hover {
    padding: 1.25rem .75rem;
    column-gap: 1.75vw;
    background-color: #0C0C0C;
    color: #FDF7F4;
    font-size: 1.125rem;
    border: none;
}


#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 15vw 10vh 15vw;
    padding-bottom: 5vh;
}

#projects a {
    text-decoration: none;
    color: black;
    width:max-content;
    height: max-content;
}

.row-project {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 35px 20px 10px 20px;
    margin-top: 2vh;
    column-gap: 2vw;
    border: none;
    border-radius: .5rem;
    justify-content: center;
}

.row-project:hover {
    background-color: #FDF7F4;
}

.proj-img {
    width: 270px;
    height: calc(270px * .88);
}

.proj-img > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.description {
    width: 38vw;
}

.subtitle {
    font-style: italic;
}

p { 
    font-size: 16px;
    margin-top: 0px;
    line-height: 150%;
}


